# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
 - List some popular languages that Data Scientists use
 - List some common libraries used by Data Scientists
 - Demonstrate Markup ordered and unordered lists

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. Julia
4. C++

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib
4. TensorFlow

|Data Science Tools|
|--|
|Jupyter Notebook|
|Apache Spark|
|Tableau|

Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60.
round(200/60,2)

3.33

## Author
Michael Ullom